@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.9%;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: aquamarine;
}

.container {
  width: 100%;
  max-width: 540px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff6f6;
  border-radius: 1.4rem;
  box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.3), 2px 2px 3px rgba(0, 0, 0, 0.3);
  padding: 3rem 4rem;
  /* margin: 0 auto; */
  text-align: left;
}
.container h2.to-do__heading {
  margin: 2rem auto;
  text-align: center;
  width: 100%;
  font-size: 3rem;
}
.highlight {
  color: green;
}
.create__list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.container input.list__name {
  border: 1px solid #ccc;
  padding: 0.8rem 1.7rem;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}
.list__button {
  letter-spacing: 0.1rem;
  border: 1px solid #ccc;
  font-size: 1.5rem;
  padding: 0.8rem 1.7rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
  cursor: pointer;
}
.list__button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: ease-in-out 0.3s;
}
.to-do--list__container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 3rem 0;
}
.to-do__task {
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  margin: 0.4rem 0;
  border-radius: 0.4rem;
  padding: 0.3rem 1rem;
}
.to-do__task:hover {
  background: rgba(0, 0, 0, 0.1);
}
.to-do__task li {
  margin-left: 0.7rem;
  list-style-type: none;
}
.to-do__task label {
  margin-left: 0.6rem;
}
.mark-done {
  text-decoration: line-through;
  color: #777;
}
.close {
  margin-left: auto;
  display: none;
}
.to-do__task:hover .close {
  display: block;
}
